<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>538355012816-4ggdhva0302cenqu4k9c7po8554riqb8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.538355012816-4ggdhva0302cenqu4k9c7po8554riqb8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>538355012816-kb1tocskq0kf8rg4an2a7g77o1m72de9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD6pqSULA2cnLBVFoqPzduxtINZPjoIoig</string>
	<key>GCM_SENDER_ID</key>
	<string>538355012816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kingfloat.surplusfood9ja</string>
	<key>PROJECT_ID</key>
	<string>surplus-food-394811</string>
	<key>STORAGE_BUCKET</key>
	<string>surplus-food-394811.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:538355012816:ios:6d8694f192911205ddbad5</string>
</dict>
</plist>